# Environment files
.env
app/.env

# Python cache
__pycache__/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
*.tfvars
terraform.exe
# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/*.tfvars
terraform/terraform.exe
